<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main class="productCart">
                <div class="contenedor">
                    <div class="cartItems">
                        <div class="title">
                            <ul class="breadcrumb">
                                <li><a href="/product/all">Shop</a></li>
                                <li><a href="/product/cart">Carrito</a></li>
                                <li><a href="/product/checkout" style="color: black;">Checkout</a></li>
                            </ul>
                        </div>


                        <section class="main-container">
                            <div class="wrapper-Col-main">

                                <section class="datos-section">
                                    <h4>Información de Contacto</h4>
                                    <div class="form-group">
                                        <div class="form-1col division">
                                            <div class="sub-col1">
                                                <p>Contacto</p>
                                            </div>
                                            <div class="sub-col2">
                                                <p>pepito@gmail.com</p>
                                            </div>
                                            <div class="sub-col3">
                                                <a href="login">
                                                    <p>Cambiar</p>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="form-1col">
                                            <div class="sub-col1">
                                                <p>Dirección</p>
                                            </div>
                                            <div class="sub-col2">
                                                <p>Av. Monroe 860 (C1428) - C.A.B.A.</p>
                                            </div>
                                            <div class="sub-col3">
                                                <a href="/product/cart">
                                                    <p>Cambiar</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <form class="formulario" action="/product/checkout" method="POST">
                                    <section class="datos-section">
                                        <h4>Método de Envío</h4>
                                        <div class="form-group">
                                            <div class="form-1col division">
                                                <div class="sub-col1">
                                                    <input type="radio" name="metodoEnvio" id="metodoEnvio"
                                                        value="normal" checked required>
                                                    <label for="metodoEnvio">Normal</label>
                                                </div>
                                                <div class="sub-col2">
                                                    <p>Fecha aproximada de Entrega</p>
                                                </div>
                                                <div class="sub-col3">
                                                    <p><strong>Gratis!</strong></p>
                                                </div>
                                            </div>

                                            <div class="form-1col">
                                                <div class="sub-col1">
                                                    <input type="radio" name="metodoEnvio" value="express" required>
                                                    <label for="metodoEnvio">Express</label>
                                                </div>
                                                <div class="sub-col2">
                                                    <p>Llega mañana</p>
                                                </div>
                                                <div class="sub-col3">
                                                    <p>$1000,00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>






                                <div class="item">
                                    <div class="image">
                                        <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
                                    </div>

                                    <div class="description">
                                        <h4>Tabla Pipona</h4>
                                        <p>Otra descripcion</p>
                                        <p>Precio Unitario</p>
                                    </div>

                                    <div class="quantity">
                                        <button class="plus-btn" type="button" name="button">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                        <input type="text" name="quantity" value="1">
                                        <button class="minus-btn" type="button" name="button">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="total-price">$525,00</div>

                                    <div class="buttons">
                                        <span class="delete-btn"><i class="fa-solid fa-trash-can"></i>
                                        </span>
                                        <!-- <span class="like-btn"></span> -->
                                    </div>
                                </div>
                                <!-- producto N2 -->
                                <div class="item">
                                    <div class="image">
                                        <img style="mix-blend-mode: multiply;"
                                            src="/img/surfboards/short-bord-example.jpg">
                                    </div>

                                    <div class="description">
                                        <h4>Forget Me Not 2 round tail</h4>
                                        <p> 6' 1" x 18 7/8" x 2 7/16" x 29L - FCS</p>
                                        <p>Precio Unitario</p>
                                    </div>

                                    <div class="quantity">
                                        <button class="plus-btn" type="button" name="button">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                        <input type="text" name="quantity" value="1">
                                        <button class="minus-btn" type="button" name="button">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="total-price">$525,00</div>

                                    <div class="buttons">
                                        <span class="delete-btn"><i class="fa-solid fa-trash-can"></i>
                                        </span>
                                        <!-- <span class="like-btn"></span> -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="summary">
                            <h1>Order Summary</h1>

                            <section class="data-product">
                                <div class="mostrar">
                                    <a href="#">Mostrar detalle del pedido</a>
                                    <p>$XXXX,XX</p>
                                </div>
                                <div class="ocultar">
                                    <a href="#">Ocultar detalle del pedido</a>
                                </div>
                                <div class="detallePedido">
                                    <article id="prod">
                                        <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
                                        <p>Tabla Pipona</p>
                                        <p>U$525,00</p>
                                        <i class="fa-solid fa-trash-can"></i>
                                    </article>
                                    <article id="prod">
                                        <img src="/img/accesorios/Fins/pyzel_c_fins_bc8db4a4-7135-4dbc-afa2-af81f9c25f6a.webp"
                                            alt="producto">
                                        <p>Fin Pipon</p>
                                        <p>U$225,00</p>
                                        <i class="fa-solid fa-trash-can"></i>
                                    </article>
                                </div>

                                <form class="giftCard" action="# //gift card// ">
                                    <input class="caja-shop" type="text" name="giftCard" id="giftCard"
                                        placeholder="Gift Card o Código de descuento">
                                    <button class="boton-descuento" type="submit">Aplicar</button>
                                    <div>
                                        <div class="importes">
                                            <h6>Subtotal</h6>
                                            <p>$XXXX,XX</p>
                                        </div>
                                        <div class="importes">
                                            <h6>Envío</h6>
                                            <p>$XXXX,XX</p>
                                        </div>

                                        <div class="importes">
                                            <h5>Total</h5>
                                            <p> <strong>$XXXX,XX</strong></p>
                                        </div>
                                    </div>
                                </form>
                            </section>
                            <form action="/product/checkout" method="GET">
                                <button class="submit-button" type="submit">Checkout</button>
                            </form>
                        </section>
                    </div>

            </main>
            <%- include("../partials/footer") %>
    </body>





















    <body>
        <%- include("../partials/header") %>
            <main class="shopify-checkout-payment">
                <section class="data-user">

                    <section class="datos-section">
                        <h4>Información de Contacto</h4>
                        <div class="form-group">
                            <div class="form-1col division">
                                <div class="sub-col1">
                                    <p>Contacto</p>
                                </div>
                                <div class="sub-col2">
                                    <p>pepito@gmail.com</p>
                                </div>
                                <div class="sub-col3">
                                    <a href="login">
                                        <p>Cambiar</p>
                                    </a>
                                </div>
                            </div>

                            <div class="form-1col">
                                <div class="sub-col1">
                                    <p>Dirección</p>
                                </div>
                                <div class="sub-col2">
                                    <p>Av. Monroe 860 (C1428) - C.A.B.A.</p>
                                </div>
                                <div class="sub-col3">
                                    <a href="/product/cart">
                                        <p>Cambiar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <form class="formulario" action="/product/checkout" method="POST">
                        <section class="datos-section">
                            <h4>Método de Envío</h4>
                            <div class="form-group">
                                <div class="form-1col division">
                                    <div class="sub-col1">
                                        <input type="radio" name="metodoEnvio" id="metodoEnvio" value="normal" checked
                                            required>
                                        <label for="metodoEnvio">Normal</label>
                                    </div>
                                    <div class="sub-col2">
                                        <p>Fecha aproximada de Entrega</p>
                                    </div>
                                    <div class="sub-col3">
                                        <p><strong>Gratis!</strong></p>
                                    </div>
                                </div>

                                <div class="form-1col">
                                    <div class="sub-col1">
                                        <input type="radio" name="metodoEnvio" value="express" required>
                                        <label for="metodoEnvio">Express</label>
                                    </div>
                                    <div class="sub-col2">
                                        <p>Llega mañana</p>
                                    </div>
                                    <div class="sub-col3">
                                        <p>$1000,00</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="datos-section">
                            <h4>Datos de Facturación</h4>
                            <p>Todas las transacciones son seguras y encriptadas</p>
                            <div class="form-group">
                                <div class="form-1col division">
                                    <div class="sub-col1">
                                        <input type="radio" name="metodoPago" id="metodoPago" value="credito" checked>
                                        <label for="metodoPago">Crédito</label>
                                    </div>
                                    <div class="sub-col2">
                                        <p></p>
                                    </div>
                                    <div class="sub-col3">
                                        <i class="fa-brands fa-cc-visa"></i>
                                        <i class="fa-brands fa-cc-mastercard"></i>
                                        <i class="fa-brands fa-cc-amex"></i>
                                    </div>
                                </div>


                                <div class="radio-dropdown">
                                    <div class="form-input">
                                        <label for="numeroTarjeta"></label> Número de tajeta
                                        <input type="number" name="numeroTarjeta" id="numeroTarjeta"
                                            placeholder="Número de tajeta" required>
                                    </div>
                                    <div class="form-input">
                                        <label for="nombre"></label> Nombre y Apellido
                                        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido"
                                            required>
                                    </div>
                                    <div class="form-input">
                                        <label for="vencimiento"></label> Fecha de vencimiento (MM/AA)
                                        <input type="text" name="vencimiento" id="vencimiento"
                                            placeholder="Fecha de vencimiento (MM/AA)" required>
                                    </div>
                                    <div class="form-input">
                                        <label for="seguridad"></label> Código de seguridad
                                        <input type="number" name="seguridad" id="seguridad"
                                            placeholder="Código de seguridad" required>
                                    </div>

                                </div>
                            </div>

                            <div class="">
                                <div class="titulos">
                                    <div>
                                        <input type="radio" name="metodoPago" value="metodoPago" required> Tarjeta
                                        de débito
                                    </div>
                                    <div>
                                        <i class="fa-brands fa-cc-visa"></i>
                                        <i class="fa-brands fa-cc-mastercard"></i>
                                        <i class="fa-brands fa-cc-amex"></i>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <label for="numeroTarjeta"></label> Número de tajeta
                                        </div>
                                        <input class="caja-shop" type="number" name="numeroTarjeta" id="numeroTarjeta"
                                            placeholder="Número de tajeta" required>
                                    </div>
                                    <div>
                                        <div>
                                            <label for="nombre"></label> Nombre y Apellido
                                        </div>
                                        <input class="caja-shop" type="text" name="nombre" id="nombre"
                                            placeholder="Nombre y Apellido" required>
                                    </div>
                                    <div class="datosVencimiento">
                                        <div>
                                            <div>
                                                <label for="vencimiento"></label> Fecha de vencimiento (MM/AA)
                                            </div>
                                            <input class="caja-shop" type="text" name="vencimiento" id="vencimiento"
                                                placeholder="Fecha de vencimiento (MM/AA)" required>
                                        </div>

                                        <div>
                                            <div>
                                                <label for="seguridad"></label> Código de seguridad
                                            </div>
                                            <input class="caja-shop" type="number" name="seguridad" id="seguridad"
                                                placeholder="Código de seguridad" required>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="">
                                <div class="titulos">
                                    <input type="radio" name="metodoPago" value="metodoPago" required> Transferencia
                                    bancaria
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <label for="numeroCuenta"></label> Número de cuenta
                                        </div>
                                        <input class="caja-shop" type="number" name="numeroCuenta" id="numeroCuenta"
                                            placeholder="Número de cuenta">
                                    </div>
                                    <div>
                                        <div>
                                            <label for="cbu"></label> CBU
                                        </div>
                                        <input class="caja-shop" type="number" name="cbu" id="cbu"
                                            placeholder="CBU (Clave bancaria única)">
                                    </div>
                                    <div>
                                        <div>
                                            <label for="alias"></label> Alias
                                        </div>
                                        <input class="caja-shop" type="text" name="alias" id="alias"
                                            placeholder="Alias">
                                    </div>
                                    <div>
                                        <div>
                                            <label for="cvu"></label> CVU
                                        </div>
                                        <input class="caja-shop" type="number" name="cvu" id="cvu"
                                            placeholder="CVU (Clave virtual única)">
                                    </div>

                                </div>
                            </div>

                            <div class="">
                                <div class="titulos">
                                    <input type="radio" name="metodoPago" value="metodoPago" required> Tarjeta
                                    Mercado Pago
                                </div>
                            </div>

                            <div class="">
                                <div class="titulos">
                                    <input type="radio" name="metodoPago" value="metodoPago" required> Efectivo en
                                    puntos de
                                    Pago
                                    <p>Pago Facil o Rapipago</p>
                                </div>
                            </div>
                            </div>



                            <div class="direccion-facturación">
                                <h2>Dirección de facturación</h2>

                                <div class="direccion">
                                    <div>
                                        <label for="dirección"></label> Dirección
                                    </div>
                                    <input class="caja-shop" type="text" name="dirección" id="dirección"
                                        placeholder="Dirección" required>

                                    <div>
                                        <div>
                                            <label for="departamento"></label> Piso, departamento
                                        </div>
                                        <input class="caja-shop" type="text" name="departamento" id="departamento"
                                            placeholder="Piso, departamento" required>
                                    </div>

                                    <div>
                                        <div>
                                            <label for="localidad"></label> Localidad
                                        </div>
                                        <input class="caja-shop" type="text" name="localidad" id="localidad"
                                            placeholder="Localidad" required>
                                    </div>

                                    <div>
                                        <div>
                                            <label for="codigo-postal"></label> Código Postal
                                        </div>
                                        <input class="caja-shop" type="text" name="codigo-postal" id="codigo-postal"
                                            placeholder="Código Postal" required>
                                    </div>
                                </div>

                                <div>
                                    <button class="boton-shop" type="submit">Pagar ahora</button>
                                </div>
                        </section>
                    </form>




            </main>
            <%- include("../partials/footer") %>
    </body>

</html>