<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title: 'PapaHoe || Detalle Del Producto'}) %>

    <body>
        <%- include("../partials/header") %>


            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="productDetail">
                <div class="shop-filters">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/product/all?cat=<%= producto.categoria.name%>"><%= producto.categoria.name%></a></li>
                        <li><a href="/product/all?cat=<%= producto.categoria.name%>"><%= producto.subcategoria.name%></a></li>
                        <li class="breadCrumbLast"><%= producto.name%></li>
                    </ul>
                    <span></span>

                    <%if(locals.isAdmin){%>
                    <div>
                        <a href="/admin/create"> Crear Producto </a>|
                        <a href="/admin/edit/<%=producto.id%>"> Editar Producto </a> |
                        <!-- <a href="/admin/delete/<%=producto.id%>"> Borrar Producto </a> -->

                        <form class="delete" action="/admin/delete/<%=producto.id%>?_method=DELETE" method="POST">
                            <button type="submit" id="borrarProducto">Borrar Producto</button>
                        </form>
                    </div>
                    <% }%>
                </div>

                <section class="main-container">
                    <div class="left-wrapper">
                        <div class="img-slider">
                            <img src="/img/<%= producto.image1 ? producto.image1 : 'default-product.png' %>"
                                alt="<%= producto.name %>">
                            <!-- <div id="imagenes-secundarias">
                                <img src="/img/surfboards/<%= producto.image2%>" alt="Short board"> 
                                <img src="/img/surfboards/<%= producto.image3%>" alt="Short board"> 
                                <img src="/img/surfboards/short-bord-example.jpg" alt="Short board">
                            </div> -->
                        </div>
                    </div>

                    <div class="right-wrapper">
                        <div class="product-header">
                            <h2><%= producto.marca.name%></h2>
                            <h1><%= producto.name%></h1>
                            <!-- <p>$<%= producto.price%> ARS</p> -->
                            <p><%= new Intl.NumberFormat(["es-AR", "es"], {style: "currency", currency: "ARS"}).format(producto.price)%> ARS</p>
                        </div>

                            <form class="product-detail-form" action="/product/detail" method="POST">
                            <div class="opciones">
                                <div>
                                    <!-- <h5>Dimensiones</h5> -->
                                    <select name="size" id="opcDim" class="opciones-desplegable">
                                        <option disabled selected>Dimensiones / Talle</option>
                                        <% if (producto.dimensiones){ %>
                                        <% for (let i=0; i<producto.dimensiones.length; i++) { %>
                                        <option value="<%= producto.dimensiones[i].id%>">
                                            <%= producto.dimensiones[i].dimension%>
                                        </option>
                                        <% } %>
                                        <%} else {%>
                                            <option value="">Talle único</option>
                                        <% } %>
                                    </select>
                                </div>

                                
                                <% if(producto.categoria.id != 1){%>
                                <div class="hidden">
                                <%}else {%>
                                <div>
                                <%}%>
                                    <!-- <h5>Fin System</h5> -->
                                        <select name="fins" id="opcFin" class="opciones-desplegable">
                                        <option disabled selected>Fin Setup</option>
                                        <% if (producto.fin){ %>
                                        <option value="<%= producto.fin.id%>">
                                            <%= producto.fin.name%>
                                        </option>
                                        <%} else {%>
                                            <% for (let i =0; i<fins.length; i++) { %>
                                                <option value="<%= fins[i].id%>">
                                                    <%= fins[i].name%>
                                                </option>
                                        <% }} %>
                                    </select>
                                </div>

                                <div>
                                    <!-- <h5>Color</h5> -->
                                    <select name="colors" id="opcCol" class="opciones-desplegable">
                                        <option disabled selected>Color</option>
                                        <% if (producto.colores){ %>
                                            <% for (let i =0; i<producto.colores.length; i++) { %>
                                            <option value="<%= producto.colores[i].id%>">
                                                <%= producto.colores[i].name%>
                                            </option>
                                            <% } %>
                                        <%} else {%>
                                            <option value="">Color único</option>
                                        <% } %>
                                    </select>
                                </div>


                                <% if(producto.categoria.id != 1){%>
                                    <div class="hidden">
                                <%}else {%>
                                    <div>
                                <%}%>
                                <!-- <h5>Acabado</h5> -->
                                    <select name="" id="opcAcab" class="opciones-desplegable">
                                        <option value="">Acabado</option>
                                        <option value="">opaco</option>
                                        <option value="">glossy</option>
                                    </select>
                                </div>
                                <!-- <div>
                                    <h5>Cantidad</h5>
                                    <div>
                                        <span>-</span>
                                        <input type=" number">
                                        <span>+</span>
                                    </div>
                                </div> -->
                            </div>
                            <div>
                                <input class="boton" value="Agregar al Carrito" type="submit">
                            </div>
                        </form>
                        <!-- /form -->
                        <div class="product-summary">
                            <p><%= producto.nombre%></p>
                            <ul>
<<<<<<< HEAD
                                <li>Dimensiones: <span id="dimUser">hgfhgfhgfghfhfhfhgfhffh</span></li>
                                <li>Fins</li>
                                <li>Tecnologia</li>
                                <li>Tail</li>
                                <li>Finnish</li>
=======
                                <li>Dimensiones <span id="dimensiones"></span></li>
                                <li>Fins <span id="fins"></span></li>
                                <li>Color <span id="color"></span></li>
                                <li>Acabado <span id="acabado"></span></li>
>>>>>>> 0a4e6e59f829cd2edd3b8edd71ef2470dcd7fdab
                            </ul>
                            <hr>
                            <!-- <p>CANTIDAD</p> -->
                            <hr>
                            <p>TOTAL</p>
                        </div>

                        <div class="descripcion">

                            <div class="especificaciones">
                                <h2>Descripción</h2>
                                <p align="justify"><%= producto.description%></p>
                                <br>
                            </div>

                            <br>
                            
                            <div class="features">
                                <h2>Características</h2>
                                <p align="justify"><%= producto.features%></p>
                            </div>

                            <br>

                        </div>
                    </div>
                </section>

                <div class="related-products">
                <h1>También te puede interesar</h1>
                <section class="contenedor-productos">
                        <% for (let i = 0; i < relatedProds.length; i++) { %>
                        <div class="producto-shop related">
                            <a href="/product/detail/<%= relatedProds[i].id%>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                        <img src="/img/<%= relatedProds[i].image1 %>"
                                        alt="<%= relatedProds[i].name%>" width="100%">
                                    </div>
                                </div>
                            </a>
                            <!-- <div class="product-info">
                                <h5><%= relatedProds[i].name %></h5>
                            </div> -->
                        </div>
                        <% } %>
                </section>
            </div>
        </main>
        <!-- footer -->
        <%- include("../partials/footer") %>
        <!-- footer -->
<<<<<<< HEAD
        <script src="js/jhjgjhg.js"></script>
=======
        <script src="/js/detail.js"></script>
>>>>>>> 0a4e6e59f829cd2edd3b8edd71ef2470dcd7fdab
    </body>
</html>