<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title: 'PapaHoe || Detalle Del Producto'}) %>

    <body>
        <%- include("../partials/header") %>


            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="productDetail">
                <div class="shop-filters">
                    <!-- <div>
                        <a href="/product/category/all"><strong> SHOP </strong></a> |
                        <a href="/product/category/1"> SURFBOARDS </a> |
                        <a href="/product/category/2"> ACCESORIOS </a> |
                        <a href="/product/category/3"> COMPLEMENTOS </a> |
                    </div> -->
                    <span></span>

                    <%if(locals.isAdmin){%>
                    <div>
                        <a href="/admin/create"> Crear Producto </a>|
                        <a href="/admin/edit/<%=producto.id%>"> Editar Producto </a> |
                        <!-- <a href="/admin/delete/<%=producto.id%>"> Borrar Producto </a> -->

                        <form class="delete" action="/admin/delete/<%=producto.id%>?_method=DELETE" method="POST">
                            <button type="submit" id="borrarProducto">Borrar Producto</button>
                        </form>
                    </div>
                    <% }%>
                </div>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/product/category/<%= producto.categoria.id%>"><%= producto.categoria.name%></a></li>
                    <li><a href="/product/category/<%= producto.categoria.id%>"><%= producto.subcategoria.name%></a></li>
                    <li class="active"><%= producto.name%></li>
                </ul>
                <section class="main-container">
                    <div class="left-wrapper">
                        <div class="img-slider">
                            <img src="/img/<%= producto.image1 ? producto.image1 : 'default-product.png' %>"
                                alt="<%= producto.name %>">
                            <!-- <div id="imagenes-secundarias">
                                <img src="/img/surfboards/<%= producto.image2%>" alt="Short board"> 
                                <img src="/img/surfboards/<%= producto.image3%>" alt="Short board"> 
                                <img src="/img/surfboards/short-bord-example.jpg" alt="Short board">
                            </div> -->
                        </div>
                    </div>

                    <div class="right-wrapper">
                        <div class="product-header">
                            <h2><%= producto.marca.name%></h2>
                            <h1><%= producto.name%></h1>
                            <p>$<%= producto.price%> ARS</p>
                        </div>

                            <form class="product-detail-form" action="/product/detail" method="POST">
                            <div class="opciones">
                                <div>
                                    <!-- <h5>Dimensiones</h5> -->
                                    <select name="size" class="opciones-desplegable">
                                        <option disabled selected>Dimensiones / Talle</option>
                                        <% if (producto.dimensiones){ %>
                                        <% for (let i=0; i<producto.dimensiones.length; i++) { %>
                                        <option value="<%= producto.dimensiones[i].id%>">
                                            <%= producto.dimensiones[i].dimension%>
                                        </option>
                                        <% } %>
                                        <%} else {%>
                                            <option value="">Talle único</option>
                                        <% } %>
                                    </select>
                                </div>

                                
                                <% if(producto.categoria.id != 1){%>
                                <div class="hidden">
                                <%}else {%>
                                <div>
                                <%}%>
                                    <!-- <h5>Fin System</h5> -->
                                        <select name="fins" class="opciones-desplegable">
                                        <option disabled selected>Fin Setup</option>
                                        <% if (producto.fin){ %>
                                        <option value="<%= producto.fin.id%>">
                                            <%= producto.fin.name%>
                                        </option>
                                        <%} else {%>
                                            <% for (let i =0; i<fins.length; i++) { %>
                                                <option value="<%= fins[i].id%>">
                                                    <%= fins[i].name%>
                                                </option>
                                        <% }} %>
                                    </select>
                                </div>

                                <div>
                                    <!-- <h5>Color</h5> -->
                                    <select name="colors" class="opciones-desplegable">
                                        <option disabled selected>Color</option>
                                        <% if (producto.colores){ %>
                                            <% for (let i =0; i<producto.colores.length; i++) { %>
                                            <option value="<%= producto.colores[i].id%>">
                                                <%= producto.colores[i].name%>
                                            </option>
                                            <% } %>
                                        <%} else {%>
                                            <option value="">Color único</option>
                                        <% } %>
                                    </select>
                                </div>


                                <% if(producto.categoria.id != 1){%>
                                    <div class="hidden">
                                <%}else {%>
                                    <div>
                                <%}%>
                                <!-- <h5>Acabado</h5> -->
                                    <select name="" class="opciones-desplegable">
                                        <option value="">Acabado</option>
                                        <option value="">opaco</option>
                                        <option value="">glossy</option>
                                    </select>
                                </div>
                                <!-- <div>
                                    <h5>Cantidad</h5>
                                    <div>
                                        <span>-</span>
                                        <input type=" number">
                                        <span>+</span>
                                    </div>
                                </div> -->
                            </div>
                            <div>
                                <input class="boton" value="Agregar al Carrito" type="submit">
                            </div>
                        </form>
                        <!-- /form -->
                        <div class="product-summary">
                            <p><%= producto.nombre%></p>
                            <ul>
                                <li>Dimensiones</li>
                                <li>Fins</li>
                                <li>Tecnologia</li>
                                <li>Tail</li>
                                <li>Finnish</li>
                            </ul>
                            <hr>
                            <p>CANTIDAD</p>
                            <hr>
                            <p>TOTAL</p>
                        </div>

                        <div class="descripcion">
                            <div class="especificaciones">
                                <h2>Especificaciones</h2>
                                <p><%= producto.caracteristicas%></p>
                                <br>
                                <ul class="caracteristicas">
                                    <li><strong>Habilidad: </strong>Principiante a Intermedio</li>
                                    <li><strong>Tamaño de onda ideal: </strong>1-6 pies</li>
                                    <li><strong>Tipo de ola:</strong>todas las condiciones</li>
                                </ul>
                            </div>
                            <br>
                            <div class="features">
                                <h2>Features</h2>
                                <p><strong>Glassing </strong>— Standard ( 4 x 4 x 4)</p>
                                <p><strong>Rocker — </strong>Flat entry rocker into a slight tail lift.</p>
                                <p><strong>Concave — </strong>Slight Single into slight Double Concave</p>
                                <p><strong>Tail — </strong>Round tail</p>
                                <p><strong>Fins — </strong>Thruster, 3 Fin *FCS 2 or Futures</p>
                            </div>
                            <br>
                            <div class="mas-informacion">
                                <p><strong> Darren designed the Sandman with the wide point moved forward 2 inches and the deck rolled into a sleek medium low rail. This design provides easy paddling without losing the signature DHD performance. The rounded pin tail allows smooth rail to rail surfing, the slight single to double concave with a flat entry rocker generates the speed that you are looking for.</strong></p>
                            </div>
                            <img src="/assets/size.jpeg" alt="Sizes">
                        </div>
                    </div>
                </section>

                <div class="related-products">
                <h1>También te puede interesar</h1>
                <section class="contenedor-productos">
                        <% for (let i = 0; i < relatedProds.length; i++) { %>
                        <div class="producto-shop">

                            <a href="/product/detail/<%= relatedProds[i].id%>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                        <img src="/img/<%= relatedProds[i].image1 %>"
                                        alt="<%= relatedProds[i].name%>" width="100%">
                                    </div>
                                </div>
                            </a>
                            <div class="product-info">
                                <h5><%= relatedProds[i].name %></h5>
                            </div>
                        </div>
                        <% } %>
                </section>
            </div>
        </main>
        <!-- footer -->
        <%- include("../partials/footer") %>
        <!-- footer -->
    </body>
</html>