<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main>
                <div class="login-register">
                    <h2>Editar Producto</h2>
                    <div>
                        <!-- <img id="shaka" src="/img/shakasign_99700.svg" alt="shaka"> -->
                        <img src="/images/brand/LOGO-PapaHoe-LogoWord.png" alt="Logo">
                    </div>
                    <div class="login-formulario">
                            <form action="/product/edit/<%= productEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
                                <div class="product-form">
                                  <label for="titulo">Nombre</label>
                                    <input type="text" name="nombre" placeholder="Nombre" required="required" value="<%= productEditar.nombre%>">
                                </div>	
                                <div class="product-form">
                                  <label for="description">Descripción</label>
                    
                                    <input type="text" name="descripcion" placeholder="Descripción" required="required" value="<%= productEditar.descripcion%>">
                                </div>
                                <div class="product-form">
                                  <label for="precio">Price</label>
                                    <input type="number" name="precio" placeholder="Indique el precio" required="required" value="<%= productEditar.precio%>">
                                </div>
                                <div class="product-form">
                                  <label for="precio">Descuento</label>
                                    <select  name="descuento" id="validationCustom04" required>
                                      <option disabled value="#">Seleccione un descuento"</option>
                                      <option value="0" <%= productEditar.descuento == 0 ? "selected" : null %>
                                        >Sin descuento</option>
                                      <option value="15" <%= productEditar.descuento == 15 ? "selected" : null %>>15%</option>
                                      <option value="30" <%= productEditar.descuento == 30 ? "selected" : null %>>30%</option>
                                    </select>
                                </div>
                                <!--Aquí solicito la imagen-->
                                <div class="custom-file">
                                    <figure class="product-form">
                                        <img  class="w-100" src="/img/<%= productEditar.categoria%>/<%= productEditar.imagen%>" alt="moto <%= productEditar.nombre%>">
                                    </figure>
                                    <input type="hidden"  name="oldImagen"  value="<%= productEditar.imagen%>">
                                    <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                                    <input type="file" name="imagen" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                  </div>
                                <div class="product-form">
                                    <button type="submit" class="btn btn btn-info">Actualizar</button>
                                    <a href="/administrar" class="btn btn-danger">Volver</a>
                                </div>
                                
                            </form>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
     </main>  
</body>
</html>