<section class="related-products">
    <h1>Tambien te puede interesar</h1>
    <article class="product">
        <% function getRandom(max) {
            return Math.floor(Math.random() * max)};
            console.log(getRandom(productos.length));
            let i = getRandom(productos.length)%>
            <a href="/product/detail/ + <%= productos[i].id%>">
                <img src="/img/<%= productos[i].imagen %>"
                alt="<%= productos[i].nombre%>" width="100%">
                <div class="product-info">
                    <h5><%= productos[i].titulo %></h5>
                </div>
            </a>    
        <% i = getRandom(productos.length)%>
            <a href="/product/detail/ + <%= productos[i].id%>">
                <img src="/img/<%= productos[i].imagen %>"
                alt="<%= productos[i].nombre%>" width="100%">
                <div class="product-info">
                    <h5><%= productos[i].titulo %></h5>
                </div>
            </a>
            <% i = getRandom(productos.length)%>
            <a href="/product/detail/ + <%= productos[i].id%>">
                <img src="/img/<%= productos[i].imagen %>"
                alt="<%= productos[i].nombre%>" width="100%">
                <div class="product-info">
                    <h5><%= productos[i].titulo %></h5>
                </div>
            </a>
            <% i = getRandom(productos.length)%>
            <a href="/product/detail/ + <%= productos[i].id%>">
                <img src="/img/<%= productos[i].imagen %>"
                alt="<%= productos[i].nombre%>" width="100%">
                <div class="product-info">
                    <h5><%= productos[i].titulo %></h5>
                </div>
            </a>
    </article>
</section>