<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", {title: 'PapaHoe Shop' }) %>

    <body>
        <%- include("../partials/header") %>

            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg"
                    alt="PapaHoe foto1">
            </header>

            <main class="shop">
                <div class="shop-filters">
                    <p class="titulo-seccion-main accesorios">Acá podríamos poner las opciones extra que tiene el User admin</p>
                    <p> <a href="/product/create"> <strong>Crear Producto </strong></a>|  <a href="/product/create"> <strong>Editar Producto </strong></a> |  Borrar Producto </p>
                </div>

                <h1 class="titulo-seccion-main accesorios"><%= categoria %></h1>
                <section class="contenedor-productos">
                    <% for(let i=0; i < productos.length; i++){
                        if(productos[i].categoria=="surfboards" ){ %>
                        <div class="producto-shop">
                            <a href="/product/detail/<%= productos[i].id %>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                        <img src="/img/<%= productos[i].imagen %>"
                                        alt="<%= productos[i].titulo %>">
                                    </div>
                                </div>
                            </a>
                           
                            <a class="shop-wraper-info" href="/product/detail/<%= productos[i].id %>">
                                <div class="detalle-producto">
                                    <h2><%= productos[i].titulo %></h2>
                                    <p><%= productos[i].nombre %></p>
                                </div>
                                <div class="info-producto">
                                    <p class="precio">$ <%= productos[i].precio %></p>
                                    <% if (productos[i].descuento !=0) { %>
                                    <p class="descuento"><%= productos[i].descuento %>% off</p>
                                        <% }else { %>
                                            <p> </p>
                                            <% } %>
                                    <p class="compare"><i class="fa-solid fa-square-check"></i></p>
                                        <!-- <span><i class="fa-solid fa-check"></i></span> -->
                                        <!-- <span><i class="fa-solid fa-square-check"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <% }; } %>
                </section>

                <!-- <h2 class="titulo-seccion-main accesorios">Accesorios</h2> -->
                <section class="contenedor-productos">
                    <% for(let i=0; i < productos.length; i++){ if(productos[i].categoria=="accesorios" ){ %>
                        <div class="producto-shop">

                            <a href="/product/detail/<%= productos[i].id %>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                        <img src="/img/<%= productos[i].imagen %>"
                                        alt="<%= productos[i].titulo %>">
                                    </div>
                                </div>
                            </a>
                            <a class="shop-wraper-info" href="/product/detail/<%= productos[i].id %>">
                                <div class="detalle-producto">
                                    <h2><%= productos[i].titulo %></h2>
                                    <p><%= productos[i].subcategoria + ' ' + productos[i].marca + ' ' + productos[i].modelo %></p>
                                </div>
                                <div class="info-producto">
                                    <p class="precio">$ <%= productos[i].precio %></p>
                                    <% if (productos[i].descuento !=0) { %>
                                        <p class="descuento"><%= productos[i].descuento %>% off</p>
                                        <% }else { %>
                                            <p> </p>
                                            <% } %>
                                    <p class="compare"><i class="fa-solid fa-square-check"></i></p>
                                </div>
                            </a>
                        </div>
                        <% } %>
                    <% } %>
                </section>

                <!-- <h2 class="titulo-seccion-main accesorios">Complementos</h2> -->
                <section class="contenedor-productos">
                    <% for(let i=0; i < productos.length; i++){ 
                        if(productos[i].categoria=="complementos" ){ %>
                        <div class="producto-shop">
                            <a href="/product/detail/<%= productos[i].id %>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                    <img src="/img/<%= productos[i].imagen %>"
                                        alt="<%= productos[i].titulo %>">
                                    </div>
                                </div>
                            </a>
                            <a class="shop-wraper-info" href="/product/detail/<%= productos[i].id %>">
                                <div class="detalle-producto">
                                    <h2><%= productos[i].titulo %></h2>
                                    <p><%= productos[i].subcategoria + ' ' + productos[i].marca + ' ' + productos[i].modelo %></p>
                                </div>

                                <div class="info-producto">
                                    <p class="precio">$ <%= productos[i].precio %></p>
                                    <% if (productos[i].descuento !=0) { %>
                                    <p class="descuento"><%= productos[i].descuento %>% off</p>
                                        <% }else { %>
                                            <p> </p>
                                            <% } %>
                                    <p class="compare"><i class="fa-solid fa-square-check"></i></p>
                                </div>
                            </a>
                        </div>
                        <% } %>
                    <% } %>
                </section>
            </main>


            <%- include("../partials/footer") %>
    </body>

</html>