<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", {title: 'PapaHoe Shop' }) %>

    <body>
        <%- include("../partials/header") %>

            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg"
                    alt="PapaHoe foto1">
            </header>

            <main class="shop">
                <div class="shop-filters">
                    <p>Acá podríamos poner las opciones extra que tiene el User admin</p>
                    <p> <a href="/admin/create"> <strong>Crear Producto </strong></a>|
                        <a href="/admin/edit/1"> <strong>Editar Producto </strong></a> |
                        <a href="/admin/delete/75"> <strong>Borrar Producto </strong></a>
                    </p>
                </div>


                <h1 class="titulo-seccion-main accesorios"><%= categoria? productos[1].categoria.name : "Todos los productos" %></h1>
                <section class="contenedor-productos">
                    <% for(let i=0; i < productos.length; i++){ %>
                        <div class="producto-shop">
                            <a href="/product/detail/<%= productos[i].id %>">
                                <div class="imagen-producto">
                                    <div class="complementos-img">
                                        <img src="/img/<%= productos[i].image1 %>"
                                        alt="<%= productos[i].name %>">
                                    </div>
                                </div>
                            </a>
                            <a class="shop-wraper-info" href="/product/detail/<%= productos[i].id %>">
                                <div class="detalle-producto">
                                    <h2><%= productos[i].name %></h2>
                                    <p><%= productos[i].marca.name %></p>
                                </div>
                                <div class="info-producto">
                                    <p class="precio">$ <%= productos[i].price %></p>
                                    <% if (productos[i].discount !=0) { %>
                                    <p class="descuento"><%= productos[i].discount %>% off</p>
                                        <% }else { %>
                                            <p> </p>
                                            <% } %>
                                    <p class="compare"><i class="fa-solid fa-square-check"></i></p>
                                        <!-- <span><i class="fa-solid fa-check"></i></span> -->
                                        <!-- <span><i class="fa-solid fa-square-check"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <% } %>
                </section>
            </main>


            <%- include("../partials/footer") %>
    </body>

</html>