<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

    <header class="section-header">
        <img id="carrousel-image-1" src="/images/stock/guille-pozzi-2xkAA5Ez_oU-unsplash.jpg" alt="PapaHoe foto1">
    </header>

    <main class="shop">
        <div class="shop-filters">
            <p>Acá podríamos poner algunos filtros?</p>
        </div>

        <h1 class="titulo-seccion-main accesorios">Algún título?</h1>
        <section class="contenedor-productos">
            <% for(let i= 0; i < productos.length; i++){ %>
                <div class="producto-shop">
                    <a href="/product/detail/<%= productos[i].id %>">
                        <div class="imagen-producto">
                            <img src="/img/<%= productos[i].categoria %>/<%= productos[i].subcategoria %>/<%= productos[i].titulo %>/<%= productos[i].imagen %>"
                            alt="<%= productos[i].titulo %>">  
                        </div>
                        <div class="info-producto">
                            <h2 class="detalle-producto"><%= productos[i].titulo %></h2>
                            <p class="precio">$ <%= productos[i].precio %></p>
                        </div>
                    </a>
                </div>
                <% } %>
        </section>


        <h1 class="titulo-seccion-main complementos">Complementos</h1>
        <section class="contenedor-productos">
            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/complementos/PapaHoe-complementos-gorra.jpg" alt="Gorra PapaHoe">
                </div>
                <div class="info-producto">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="detalle-producto">Gorra Papa Hoe</p>
            </div>


        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>