<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head", {title: 'PapaHoe || Admin Create Product'}) %>


    <body>
        <%- include("../partials/header") %>
            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="productCreate">
                <span class="adm-table-header">
                    <h2 id="panelProd">Panel de Control</h2>
                    <a href="/admin/create">+ Nuevo Producto</a>
                </span>

                <section class="main-container">
                    <div class="wrapper-Col-99">
                        <section>
                            <article style="overflow-x:auto">
                                <table class="adm-table">
                                    <thead class="adm-table-title">
                                    <tr>  
                                        <th scope="col" title="Nombre del Producto">Producto</th>
                                        <th scope="col" title="Nombre del Producto">Categoría</th>
                                        <th scope="col" title="Cantidad de productos en stock">Stock</th>
                                        <th scope="col" title="Precio Unitario">Precio</th>
                                        <th scope="col" title="Aplica Descuento">%</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="adm-table-body">
                                    <% productos.forEach(product => { %>
                                    <tr>
                                        <td><%= product.name%> </td>
                                        <td><%= product.categoria.name%> </td>
                                        <td><%= product.stock%> </td>
                                        <td>$ <%= product.price%> </td>
                                        <td><%= product.discount != "0"? product.discount + "%" : ""%></td>
                                        <td id="adm-view"><a href="/product/detail/<%= product.id%> "><ion-icon name="eye-outline"></i></a></td>
                                        <!-- <i class="fa-regular fa-eye"></i></a></td> -->
                                        <td id="adm-edit"><a href="/admin/edit/<%= product.id%> "> <i class="fa-solid fa-pencil"></i></a></td>
                                        <!-- <td><a href="/admin/delete/<%= product.id%>"><i class="fa-solid fa-trash"></i></a></td> -->
                                        <td id="adm-delete"><a href="/admin/delete/<%= product.id%>"><ion-icon name="trash-outline"></ion-icon></i></a></td>

                                        <!-- <ion-icon name="eye-outline"></ion-icon></a></td>
                                        <ion-icon name="pencil-outline"></ion-icon></a></td>
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <ion-icon name="trash"></ion-icon> -->
                                    </tr>
                                    <% }); %>
                                    </tbody>
                                </table> 
                            </article>       
                        </section>
                    </div>
                </section>
            </main>

            <%- include("../partials/footer") %>
            <script src="/js/adminCreateValidation.js"></script>
            <script src="/js/multiselect-dropdown.js" ></script>
            <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        </body>
</html>
