<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main>
                <div class="login-register">
                    <h2>Editar Producto</h2>
                    <div>
                        <!-- <img id="shaka" src="/img/shakasign_99700.svg" alt="shaka"> -->
                        <img src="/images/brand/LOGO-PapaHoe-LogoWord.png" alt="Logo">
                    </div>
                    <div class="formulario">
                            <form action="/product/edit/<%= productEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
                                <div class="form-input">
                                  <label for="titulo">Nombre</label>
                                  <input type="text" name="nombre" placeholder="Nombre" required="required" value="<%= productEditar.nombre%>">
                                </div>	
                                <div class="form-input">
                                  <label for="categoria">Category</label>
                                  <select name="categoria" id="categoria" value="<%= productEditar.categoria %>" required="required">
                                      <option value="accesorios">Accesorios</option>
                                      <option value="surfboards">Surfboards</option>
                                      <option value="complementos">Complementos</option>
                                  </select>
                                </div>
                                <div class="form-input">
                                  <label for="subCategoria">Subcategoría</label>
                                  <input type="text" name="subCategoria" id="subCategoria" placeholder="Subcategoria" value="<%= productEditar.subcategoria %>"required>
                                </div>
                                <div class="form-input">
                                  <label for="brand">Marca del producto</label>
                                  <input type="text" name="brand" brand="brand" placeholder="brand" value="<%= productEditar.marca %>" required="required">
                                </div>
                                <div class="form-input">
                                  <label for="model">Model</label>
                                  <input type="text" name="model" id="model" placeholder="model" value="<%= productEditar.modelo %>" required="required">
                                </div>
                                <div class="form-input">
                                  <label for="precio">Price</label>
                                  <input type="text" name="precio" id="precio" placeholder="Precio" value="<%= productEditar.precio %>" required="required">
                                </div>
                                <div class="form-input">
                                  <label for="descuento">Discount</label>
                                  <input type="text" name="descuento" id="descuento" placeholder="Descuento" value="<%= productEditar.descuento %>" required="required">
                                </div>
                                <div class="form-input">
                                  <label for="description">Descripción</label>
                                  <input type="text" name="descripcion" placeholder="Descripción" required="required" value="<%= productEditar.descripcion%>">
                                </div>
                                <div class="form-input">
                                  <label for="features">Features</label>
                                  <textarea class="NP-desc" type="text" name="features" id="features" placeholder="Features" value="<%= productEditar.caracteristicas %>" required="required"></textarea>
                                </div>
                                <div class="form-input">
                                  <label for="ability">Ability</label>
                                  <select name="ability" id="ability">
                                      <option value="principiante">Principiante</option>
                                      <option value="intermedio">Intermedio</option>
                                      <option value="experto">Experto</option>
                                  </select>             
                                </div>
                                <div class="form-input">
                                  <label for="dimensions">Dimensions</label>
                                  <select name="dimensions" id="dimensions">
                                      <option value="1">5'10--19 1/2--2 9/16--31</option>
                                      <option value="2">5'11--19 5/8--2 5/8--32</option>
                                      <option value="3">6'0--19 3/4--2 11/16--33</option>
                                      <option value="4">6'0--19 3/4--2 11/16--33</option>
                                  </select>
                                </div>
                                <div class="form-input">
                                  <label for="finSystem">Fin System</label>
                                  <select name="finSystem" id="finSystem">
                                      <option value="CS SII">CS SII</option>
                                      <option value="Futures">Futures</option>
                                  </select>                                    
                                </div>        
                                <!--Lo dejé por si lo querés usar en vez del nuestro-->
                                <div class="form-input">
                                  <label for="precio">Descuento</label>
                                    <select  name="descuento" id="validationCustom04" required>
                                      <option disabled value="#">Seleccione un descuento"</option>
                                      <option value="0" <%= productEditar.descuento == 0 ? "selected" : null %>
                                        >Sin descuento</option>
                                      <option value="15" <%= productEditar.descuento == 15 ? "selected" : null %>>15%</option>
                                      <option value="30" <%= productEditar.descuento == 30 ? "selected" : null %>>30%</option>
                                    </select>
                                </div>
                                <!--Aquí solicito la imagen-->
                                <div class="custom-file">
                                    <figure class="form-input">
                                        <img  class="w-100" src="/img/<%= productEditar.categoria%>/<%= productEditar.imagen%>" alt="moto <%= productEditar.nombre%>">
                                    </figure>
                                    <input type="hidden"  name="oldImagen"  value="<%= productEditar.imagen%>">
                                    <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                                    <input type="file" name="imagen" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                </div>
                                <div class="form-input">
                                    <button type="submit" class="btn btn btn-info">Actualizar</button>
                                    <a href="/administrar" class="btn btn-danger">Volver</a>
                                </div>
                                
                            </form>
                    </div>                    
                </div>
            </main>  
</body>
</html>