<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="productCreate">
                <h2>Editor de Productos</h2>

                <section class="main-container">

                    <div class="wrapper-Col-66">
                        <h2>Nuevo producto</h2>
                        <div class="register">
                            <form class="formulario" action="/admin/create" method="POST" enctype="multipart/form-data">
                                <section class="datos-section">

                                    <div class="form-input">
                                        <label for="name">Nombre del Producto<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <input type="text" name="name" id="nombreProd" placeholder="Ej: Rocker Pocker III">
                                        <!-- <i class="fa-solid fa-circle-check"></i> -->
                                    </div>

                                    <div class="form-2col">
                                        <div class="form-input opciones">
                                            <label for="category_id">Categoría<sup>*</sup></label>
                                            <span class="errMsg" id="errMsg"></span>
                                            <select name="category_id" id="category_id">
                                                <option value="" disabled selected hidden>Categoría</option>
                                                <% for (let i =0; i<category.length; i++) { %>
                                                    <option value="<%= category[i].id%>">
                                                        <%= category[i].name%>
                                                    </option>
                                                    <% } %>
                                                </select>
                                        </div>
                                        
                                        <div class="form-input opciones">
                                            <label for="subcategory_id">Subcategoría<sup>*</sup></label>
                                            <span class="errMsg" id="errMsg"></span>
                                            <select name="subcategory_id" id="subcategory_id">
                                                <option value="" disabled selected hidden>Subcategoría</option>
                                                <!-- <optgroup class="subCat_gr1" label="Surfboards">
                                                    <% for (let i =0; i<subcategory.length; i++) { %>
                                                        <% if (subcategory[i].category_id == 1){ %>
                                                            <option value="<%= subcategory[i].id%>"><%= subcategory[i].name%></option>
                                                    <% }} %>
                                                </optgroup>
                                                <optgroup class="subCat_gr2" label="Accesorios">
                                                    <% for (let i =0; i<subcategory.length; i++) { %>
                                                        <% if (subcategory[i].category_id == 2){ %>
                                                            <option value="<%= subcategory[i].id%>"><%= subcategory[i].name%></option>
                                                    <% }} %>
                                                </optgroup>
                                                <optgroup class="subCat_gr3" label="Complementos">
                                                    <% for (let i =0; i<subcategory.length; i++) { %>
                                                        <% if (subcategory[i].category_id == 3){ %>
                                                            <option value="<%= subcategory[i].id%>"><%= subcategory[i].name%></option>
                                                    <% }} %>
                                                </optgroup>
                                                <optgroup class="subCat_gr4" label="Custom Board">
                                                    <% for (let i =0; i<subcategory.length; i++) { %>
                                                        <% if (subcategory[i].category_id == 4){ %>
                                                            <option value="<%= subcategory[i].id%>"><%= subcategory[i].name%></option>
                                                    <% }} %>
                                                </optgroup> -->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-input opciones visually-hidden">
                                        <label for="fin_id">Fin Setup<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <select name="fin_id" id="fin_id">
                                            <option value="" disabled selected hidden>Fin Setup</option>
                                            <% for (let i =0; i<fins.length; i++) { %>
                                                <option value="<%= fins[i].id%>">
                                                    <%= fins[i].name%>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>

                                    <div class="form-input opciones">
                                        <label for="brand_id">Marca<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <select name="brand_id" id="brand_id">
                                            <option value="" disabled selected hidden>Marca</option>
                                            <% for (let i =0; i<brand.length; i++) { %>
                                                <option value="<%= brand[i].id%>">
                                                    <%= brand[i].name%>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>

                                    <div class="form-2col">
                                        <div class="form-input">
                                            <label for="price">Precio Unitario<sup>*</sup></label>
                                            <span class="errMsg" id="errMsg"></span>
                                            <div class="secretInput">
                                                <input type="number" name="price" id="price" placeholder="1000,00" step=".5" min="0">
                                                <output name="priceCurrency" for="price" id="priceCurrency"></output>
                                            </div>

                                        </div>
                                        <!-- <div class="form-input opciones">
                                            <label for="currency">Moneda</label>
                                            <select name="currency" id="currency" placeholder="ARS">
                                                <option value="" disabled selected hidden>ARS</option>
                                                <option selected value="ARS">ARS</option>
                                                <option disabled value="MXN">MXN</option>
                                                <option disabled value="EUR">EUR</option>
                                                <option disabled value="USD">USD</option>
                                            </select>
                                        </div> -->
                                        <div class="form-input">
                                            <label for="stock">Stock<sup>*</sup></label>
                                            <span class="errMsg" id="errMsg"></span>
                                            <input type="number" name="stock" id="stock" min="0" placeholder="Cantidad de unidades disponibles">
                                        </div>
                                    </div>
                                    
                                    <div class="form-input opciones">
                                        <label for="description">Descripción<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <textarea name="description" id="description" rows="15" placeholder="Describí con detalle y creatividad los principales beneficios del producto."></textarea>
                                    </div>
                                    
                                    <div class="form-input opciones">
                                        <label for="features">Características<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <textarea name="features" id="features" rows="8" placeholder="Enumerá las principales caracterísitcas del producto."></textarea>
                                    </div>

                                    <div class="form-input">
                                        <label for="prodImage">Imágenes<sup>*</sup></label>
                                        <span class="errMsg" id="errMsg"></span>
                                        <div class="form-5col">
                                            <div class="prodImg">
                                                <label for="image1" class="labelImg"></label><br>
                                                <input type="file" name="prodImage" id="image1" class="visually-hidden">
                                                <div id="imgPreview">
                                                    <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                                </div>
                                            </div>
                                            <div class="prodImg">
                                                <label for="image2" class="labelImg"></label><br>
                                                <input type="file" name="prodImage" id="image2" class="visually-hidden">
                                                <div id="imgPreview">
                                                    <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                                </div>
                                            </div>
                                            <div class="prodImg">
                                                <label for="image3" class="labelImg"></label><br>
                                                <input type="file" name="prodImage" id="image3" class="visually-hidden">
                                                <div id="imgPreview">
                                                    <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                                </div>
                                            </div>
                                            <div class="prodImg">
                                                <label for="image4"class="labelImg"></label><br>
                                                <input type="file" name="prodImage" id="image4" class="visually-hidden">
                                                <div id="imgPreview">
                                                    <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                                </div>
                                            </div>
                                            <div class="prodImg">
                                                <label for="image5" class="labelImg"></label><br>
                                                <input type="file" name="prodImage" id="image5" class="visually-hidden">
                                                <div id="imgPreview">
                                                    <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="color">Variantes de Color</label>
                                    <div class="multiSelect">
                                        <select multiple name="color_id[]" id="color_id">
                                            <!-- <option value="" disabled selected hidden>Color</option> -->
                                            <% for (let i =0; i<colors.length; i++) { %>
                                                <option value="<%= colors[i].id%>">
                                                    <%= colors[i].name%>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    
                                    <!-- <div class="form-input">
                                        <label for="ability">Ability</label>
                                        <select name="ability" id="ability">
                                            <option value="principiante">Principiante</option>
                                            <option value="intermedio">Intermedio</option>
                                            <option value="experto">Experto</option>
                                        </select>
                                    </div> -->
                                    
                                    <div class="checkbox">
                                        <div class="opciones">
                                            <p><strong>Talles Disponibles</strong></p>
                                            <label for="talle_XS"><input type="checkbox" value="7" name="size_id[]" id="talle_XS"> XS</label> <br>
                                            <label for="talle_S"><input type="checkbox" value="8" name="size_id[]" id="talle_S"> S</label> <br>
                                            <label for="talle_M"><input type="checkbox" value="9" name="size_id[]" id="talle_M"> M</label> <br>
                                            <label for="talle_L"><input type="checkbox" value="10" name="size_id[]" id="talle_L"> L</label> <br>
                                            <label for="talle_XL"><input type="checkbox" value="11" name="size_id[]" id="talle_XL"> XL</label> <br>
                                            <label for="talle_XXL"><input type="checkbox" value="12" name="size_id[]" id="talle_XXL"> XXL</label> <br>
                                        </div>

                                        <div class="opciones">
                                            <p><strong>Dimensiones / Volumen</strong></p>
                                            <label for="dimensions_id_1"><input type="checkbox" value="1" name="size_id[]" id="dimensions_id_1"> 5'0" x 19" x 2 1/16" -21.78L</label> <br>
                                            <label for="dimensions_id_2"><input type="checkbox" value="2" name="size_id[]" id="dimensions_id_2"> 5'7" x 19" x 2 7/16" - 29.86L</label> <br>
                                            <label for="dimensions_id_3"><input type="checkbox" value="3" name="size_id[]" id="dimensions_id_3"> 5'10" x 20" x 2 5/8" - 33.73L</label> <br>
                                            <label for="dimensions_id_4"><input type="checkbox" value="4" name="size_id[]" id="dimensions_id_4"> 6'1" x 20" x 2 3/4" - 37.71L</label> <br>
                                            <label for="dimensions_id_5"><input type="checkbox" value="5" name="size_id[]" id="dimensions_id_5"> 6'4" x 21" x 3 1/2" - 43.2L</label> <br>
                                            <label for="dimensions_id_6"><input type="checkbox" value="6" name="size_id[]" id="dimensions_id_6"> 6'10" x 22" x 3 1/4" - 53.95L</label> <br>
                                        </div>
                                    </div>

                                    <!-- <div class="form-input prod-descuento">
                                        <label><input type="checkbox" name="discount" id="isDiscounted">Producto en promoción</label>
                                        <input type="number" name="discount" id="discount" min="0" max="100" placeholder="Querés aplicar un descuento?" required>
                                    </div> -->
                                    <div class="form-input prod-descuento">
                                        <label for="discount">Producto en promoción</label>
                                        <input type="number" name="discount" id="discount" min="0" max="100" placeholder="Aplicar % descuento">
                                    </div>

                                </section>

                                <a href="#" id="prueba">SOLO PARA PROBAR CONSOLE.LOG</a>


                                <div class="submit-button">
                                    <button class="submit-button" type="submit">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="wrapper-Col-33" title="Así se verá tu producto publicado">
                        <h2>Thumbnail</h2>
                        <div class="img-slider">
                            <img src="/images/usuarios/default-admin.jpg" alt="imagen de perfil">
                        </div>
                        Espacio para botones (EN CONSTRUCCIÓN)
                    </div>

                </section>
            </main>

            <%- include("../partials/footer") %>
            <script src="/js/adminCreateValidation.js"></script>
            <script src="/js/multiselect-dropdown.js" ></script>
        </body>

</html>