<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head", {title: 'PapaHoe||Admin Edit Product'}) %>

    <body>
        <%- include("../partials/header") %>
            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="productCreate">
                <h2>Editor de Productos</h2>

                <section class="main-container">

                  <div class="wrapper-Col-66">
                    <h2>Editar producto</h2>
                    <div class="register">
                      <form action="/admin/edit/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
                        <section class="datos-section">

                          <div class="form-input">
                              <label for="name">Nombre del Producto</label>
                              <input type="text" name="name" id="name" placeholder="Ej: Rocker Pocker III" value="<%=producto.name%>" required>
                          </div>

                          <div class="form-2col">
                              <div class="form-input opciones">
                                  <label for="category_id">Categoría<sup>*</sup></label>
                                  <select name="category_id" id="category_id" required>
                                      <option value="<%=producto.categoria.id%>" selected><%=producto.categoria.name%></option>
                                      <% for (let i =0; i<category.length; i++) { %>
                                        <% if(category[i].id != producto.categoria.id){ %>
                                          <option value="<%= category[i].id%>"><%= category[i].name%></option>
                                      <% }} %>
                                  </select>
                              </div>
                              
                              <div class="form-input opciones">
                                  <label for="subcategory_id">Subcategoría<sup>*</sup></label>
                                  <select name="subcategory_id" id="subcategory_id" required>
                                    <option value="<%=producto.subcategoria.id%>" selected><%=producto.subcategoria.name%></option>
                                    <% for (let i =0; i<subcategory.length; i++) { %>
                                      <% if(subcategory[i].id != producto.subcategoria.id){ %>
                                    <option value="<%= subcategory[i].id%>"><%= subcategory[i].name%></option>
                                    <% }} %>
                                </select>
                              </div>
                          </div>

                          <div class="form-input opciones">
                            <label for="fin_id">Fin Setup<sup>*</sup></label>
                            <span class="errMsg" id="errMsg"></span>
                            <select name="fin_id" id="fin_id">
                              <% for (let i =0; i<fins.length; i++) { %>
                                <% if (producto.fin && (producto.fin.id == fins[i].id)){ %>
                                  <option value="<%= fins[i].id%>" selected><%= fins[i].name%></option>
                                <% } else { %>
                                  <option value="<%= fins[i].id%>">
                                    <%= fins[i].name%>
                                  </option>
                              <% }} %>
                            </select>
                          </div>

                          <div class="form-input opciones">
                            <label for="brand_id">Marca<sup>*</sup></label>
                            <select name="brand_id" id="brand_id" required>
                              <option value="<%=producto.marca.id%>" selected><%=producto.marca.name%></option>
                              <% for (let i =0; i<brand.length; i++) { %>
                                <% if(brand[i].name != producto.marca.name){ %>
                                  <option value="<%= brand[i].id%>">
                                    <%= brand[i].name%>
                                  </option>
                                <% } %>
                              <% } %>
                            </select>
                          </div>

                          <div class="form-2col">
                            <div class="form-input">
                                <label for="price">Precio Unitario<sup>*</sup></label>
                                <input type="number" name="price" id="price" placeholder="00.000,00" step=".50" min="0" pattern="[0-9]+([,][0-9]{1,2})?" value="<%=producto.price%>" required>
                            </div>
                            <div class="form-input">
                              <label for="stock">Stock<sup>*</sup></label>
                              <input type="number" name="stock" id="stock" placeholder="Cantidad de unidades disponibles" value="<%=producto.stock%>" required>
                            </div>
                          </div>

                          <div class="form-input opciones">
                              <label for="description">Descripción<sup>*</sup></label>
                              <textarea name="description" id="description" rows="15"><%=producto.description%></textarea>
                          </div>
                          
                          <div class="form-input opciones">
                              <label for="features">Características<sup>*</sup></label>
                              <textarea name="features" id="features" rows="8"><%=producto.features%></textarea>
                          </div>

                        <!-- Sección para cargar la/s imagen/es de Producto. La 1ra es obligatoria, las otras (un array de imágenes) no lo son. -->
                        <div class="form-input">
                          <label for="prodImage">Imágenes<sup>*</sup></label>
                          <div class="form-5col">
                            <div class="prodImgMain">
                              <div class="prodImg">
                                <label for="image1" class="labelImg"></label><br>
                                <input type="file" name="image1" id="image1" class="visually-hidden">
                                <input type="hidden" name="oldImagen1" value="<%= producto.image1%>">
                                <div id="imgPreview">
                                  <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                </div>
                              </div>
                            </div>
                            <div class="prodImgGallery">
                              <div class="prodImg">
                                <label for="imageGallery1" class="labelImg"></label><br>
                                <input type="file" name="imageGallery" id="imageGallery1" class="visually-hidden">
                                <input type="hidden" name="oldImagen2" value="<%= producto.image2%>">
                                <div id="imgPreview">
                                  <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                </div>
                              </div>
                              <div class="prodImg">
                                <label for="imageGallery2" class="labelImg"></label><br>
                                <input type="file" name="imageGallery" id="imageGallery2" class="visually-hidden">
                                <input type="hidden" name="oldImagen3" value="<%= producto.image3%>">
                                <div id="imgPreview">
                                  <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                </div>
                              </div>
                              <div class="prodImg">
                                <label for="imageGallery3" class="labelImg"></label><br>
                                <input type="file" name="imageGallery" id="imageGallery3" class="visually-hidden">
                                <input type="hidden" name="oldImagen4" value="<%= producto.image4%>">
                                <div id="imgPreview">
                                  <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                </div>
                              </div>
                              <div class="prodImg">
                                <label for="imageGallery4" class="labelImg"></label><br>
                                <input type="file" name="imageGallery" id="imageGallery4" class="visually-hidden">
                                <input type="hidden" name="oldImagen5" value="<%= producto.image5%>">
                                <div id="imgPreview">
                                  <p class="cancelCross"><i class="fa-solid fa-xmark"></i></p>
                                </div>
                              </div>
                              <p class="prodImgCaption">
                                ES NECESARIO AGREGAR AL MENOS UNA IMAGEN PRINCIPAL.<br>
                                No olvides respetar las dimensiones indicadas!
                                <!-- Procurá que tus imágenes sean descriptivas y que pongan en evidencia todos los detalles del producto.-->
                              </p> 
                            </div>
                          </div>
                        </div>


<!-- 
                              <div class="form-input">
                                  <label class="prodImg" for="image2"
                                  <% if(producto.image2){%>
                                    style="background: no-repeat right top/ auto 100% url(/img/<%=producto.image2%>)">
                                  <% } else {%>
                                    >
                                  <% } %>
                                      <input type="file" name="image2" id="image2">
                                      <input type="hidden" name="oldImagen2" value="<%= producto.image2%>">
                                    </label>
                              </div>

                              <div class="form-input">
                                  <label class="prodImg" for="image3"
                                    <% if(producto.image3){%>
                                      style="background: no-repeat right top/ auto 100% url(/img/<%=producto.image3%>)">
                                    <% } else {%>
                                      >
                                    <% } %>
                                      <input type="file" name="image3" id="image3">
                                      <input type="hidden" name="oldImagen3" value="<%= producto.image3%>">
                                    </label>
                              </div>

                              <div class="form-input">
                                  <label class="prodImg" for="image4"
                                  <% if(producto.image4){%>
                                    style="background: no-repeat right top/ auto 100% url(/img/<%=producto.image4%>)">
                                  <% } else {%>
                                    >
                                  <% } %>
                                      <input type="file" name="image4" id="image4">
                                      <input type="hidden" name="oldImagen4" value="<%= producto.image4%>">
                                    </label>
                              </div>

                              <div class="form-input">
                                  <label class="prodImg" for="image5"
                                  <% if(producto.image5){%>
                                    style="background: no-repeat right top/ auto 100% url(/img/<%=producto.image5%>)">
                                  <% } else {%>
                                    >
                                  <% } %>
                                      <input type="file" name="image5" id="image5">
                                      <input type="hidden" name="oldImagen5" value="<%= producto.image5%>">
                                    </label>
                              </div> -->



                          <!-- Sección para seleccionar el color/es. La clase "multiSelect"
                          activa un script que permite seleccionar los colores y crear etiquetas -->
                          <div class="multiSelect opciones">
                            <label for="color">Variantes de Color</label>
                              <select multiple name="color_id[]" id="color_id">
                                  <% for (let i =0; i<colors.length; i++) { %>
                                    <% if (productColorsId.includes(colorsId[i])) { %>
                                      <option value="<%=colors[i].id%>" selected><%=colors[i].name%></option>
                                      <% } else { %>
                                      <option value="<%=colors[i].id%>"> <%=colors[i].name%> </option>
                                      <% }} %>
                              </select>
                          </div>

                          <div class="checkbox">
                            <div class="opciones">
                              <h4>Talle</h4>
                              <% for(let i=0; i<sizesId.length; i++){ %>
                                <% if (productSizeId.includes(sizesId[i])) { %>
                                <label for="size"><input type="checkbox" value="<%=sizes[i].id%>" name="size_id[]" id="size" checked> <%=sizes[i].dimension%></label> <br>
                              <% } else { %>
                                <label for="size"><input type="checkbox" value="<%=sizes[i].id%>" name="size_id[]" id="size"> <%=sizes[i].dimension%></label> <br>
                              <% }} %>
                            </div>
                          </div>

                          <div class="form-input prod-descuento">
                            <label for="discount">Producto en promoción</label>
                            <input type="number" name="discount" id="discount" min="0" max="100" placeholder="Querés aplicar un descuento?" value="<%=producto.discount? producto.discount : 0 %>">
                          </div>
                        </section>

                        <div class="submit-button">
                            <button class="submit-button" type="submit">Confirmar</button>
                        </div>
                      </form>
                    </div>
                  </div>


                  <div class="wrapper-Col-33">
                      <h2>(Thumbnail)</h2>
                      <div class="img-slider">
                          <img src="/img/<%=producto.image1%>" alt="<%=producto.name%>">
                      </div>
                      Espacio para botones (EN CONSTRUCCIÓN)
                  </div>
                </section>
            </main>

            <%- include("../partials/footer") %>
            <script src="/js/multiselect-dropdown.js" ></script>
    </body>
</html>